# Source: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.gitconfig

local_x86_64-w64-mingw32/
local_x86_64-pc-windows-msvc/
local_x86_64-pc-linux-gnu/
local_x86_64-pc-cygwin/
local_aarch64-linux-android_*

local/sbin/.vscode/

local/src/examples/cmake_executable/build

local/src/libffi-*/build
local/src/libffi-*/src
local/src/libffi-*/libffi-*.gz

local/src/libiconv-*/build
local/src/libiconv-*/src
local/src/libiconv-*/libiconv-*.gz

local/src/gettext-*/build
local/src/gettext-*/src
local/src/gettext-*/gettext-*.gz

local/src/gperf-3.1

local/src/glib-*/build
local/src/glib-*/src
local/src/glib-*/glib-*.xz

local/src/help2man-1.47.9

local/src/ogre-1.12.3/build
local/src/ogre-1.12.3/src

local/src/pkg-config/build
local/src/pkg-config/src
local/src/pkg-config/pkg-config-*.gz

local/src/sdl2-2.0.10/build
local/src/sdl2-2.0.10/src

local/src/texinfo-*/build
local/src/texinfo-*/src
local/src/texinfo-*/texinfo-*.tar.xz

local/src/zlib-*/build
local/src/zlib-*/src
local/src/zlib-*/zlib-*.gz

local/src/zziplib-*/build
local/src/zziplib-*/src
