# Source: https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.gitconfig

local/src/temp
local/src/tmp
local/temp
local/tmp
temp
tmp



home/mhodges/mnt

local_x86_64-w64-mingw32/
local_x86_64-pc-windows-msvc/
local_x86_64-pc-linux-gnu/
local_x86_64-pc-cygwin/
local_aarch64-linux-android_*

local/sbin/.vscode/
local/sbin/__pycache__
local/sbin/gem_android_buildtoolchain
local/sbin/gem_build.orig

local/src/examples/cmake_hello/build

local/src/freeimage-3.18.0/
local/src/freetype-2.10.1/

local/src/libffi-*/build
local/src/libffi-*/src
local/src/libffi-*/libffi-*.gz

local/src/libiconv-*/build
local/src/libiconv-*/src
local/src/libiconv-*/libiconv-*.gz

local/src/LinderdaumSDK-0.6.08/

local/src/gettext-*/build
local/src/gettext-*/src
local/src/gettext-*/gettext-*.gz

local/src/gperf-3.1

local/src/glib-*/build
local/src/glib-*/src
local/src/glib-*/glib-*.xz

local/src/help2man-1.47.9

local/src/ogre-1.12.4/build
local/src/ogre-1.12.4/src

local/src/pkgconf-1.6.3/build
local/src/pkgconf-1.6.3/src
local/src/pkgconf-1.6.3/pkgconf-*.tar.xz

local/src/pugixml-1.10/

local/src/python_test_*

local/src/sdl2-2.0.11/build
local/src/sdl2-2.0.11/build_tests
local/src/sdl2-2.0.11/src
local/src/sdl2-2.0.11/src_old

local/src/sdl2-2.0.14/build
local/src/sdl2-2.0.14/build_tests
local/src/sdl2-2.0.14/src


local/src/texinfo-*/build
local/src/texinfo-*/src
local/src/texinfo-*/texinfo-*.tar.xz

local/src/zlib-*/zlib-*.gz
local/src/zlib-*/build
local/src/zlib-*/src
local/src/zlib-*/.vscode
local/src/zlib-*/gem_build_*_log.html
local/src/zlib-*/workspace.code-workspace

local/src/zziplib-*/build
local/src/zziplib-*/src
local/src/zziplib-*/gem_build_*_log.html
